.Dresscode {
  background-color: #fff;
  border: 3px solid var(--main);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px;
  width: 90%;
}

.Dresscode h3,
.Dresscode p {
  margin: 0;
  text-align: center;
}

.Dresscode h3 {
  font-size: 36px;
}

.Dresscode p {
  font-size: 32px;
  color: #000;
  font-weight: 600;
}
