.mainContainer {
  border: solid 3px var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .mainContainer {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .mainContainer {
    width: 40vw;
  }
}

iframe {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 3px solid var(--main);
  width: 100%;
}
